In [1]:
import pandas as pd

In [5]:
pd.read_json('test.json')

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

### Fetching json from a url

In [7]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,0.0442
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,0.8790
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,1.1500
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,4.8600
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,0.0215
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,1.3200
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,2.9900
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,0.2260
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,0.3230
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-27,1706313601,116.4100

# Working with SQl

1) Install XAMMP
2) Start MySQL and apache server from xampp using the following query `sudo /opt/lampp/./manager-linux-x64.run`. My Xampp is installed in Downloads
3) go to "http://localhost/phpmyadmin/"
4) Create a database and name it whatever you want to
5) Go to import , and import the sql file
6) you db is not ready

## Connecting db with python using mysqlConnnector
```py
!pip install mysql.connector
import mysql.connector
conn = mysql.connector.connect(host='localhost', user='root', password="", database="world")  # will return a mysql object
'''
1) DB server's IP address
2) username
3)password
4) database name
'''

import pandas as pd
##the pandas work
pd.read_sql_query("Select * from city ", conn) ## the query from me , connection's mysql object
```

In [3]:
!pip install mysql.connector
import mysql.connector
conn = mysql.connector.connect(host='localhost', user='root', password="", database="world")  # will return a mysql object
'''
1) DB server's IP address
2) username
3)password
4) database name
'''

import pandas as pd
##the pandas work
pd.read_sql_query("Select * from city ", conn) ## the query from me , connection's mysql object

Requirement already satisfied: mysql.connector in /home/aryan/miniconda3/envs/campusX/lib/python3.11/site-packages (2.2.9)

/tmp/ipykernel_29716/1096661176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("Select * from city ", conn) ## the query from me , connection's mysql object

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]